---
import '../styles/global.css';

interface Props {
	title?: string;
	description?: string;
	lang?: 'es' | 'en';
}

const {
	title = 'Koi Studios Games | Videojuegos para ninos',
	description = 'Creamos videojuegos divertidos, seguros y educativos para ninos.',
	lang = 'es',
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9213491526534512"
			crossorigin="anonymous"
		></script>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-950 text-white antialiased">
		<slot />
	</body>
</html>
